@import url("font.css");
@import url("nav.css");
@import url("timeline.css");

body,html {
    height: 100%;
    background: linear-gradient(135deg, #202020, #03425d);
    background-color:#07394e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: "Outfit", "Noto Sans TC", "Noto Sans JP", "Noto Sans CN";
    color: #fff;

    &::selection {
        background-color: #80808050;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

a {
    color: #fff;
}

hr {
    margin: 10px 0;
}

.main-content {
    width: 80%;
    max-width: 1200px;
    margin: 2% auto;
}

#main {
    margin: 10% auto;
}

.main-title {
    font-size: 60px;
    font-weight: 800;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    opacity: 75%;
}

header {
    width: 100%;
}