@import url("font.css");
@import url("nav.css");
@import url("timeline.css");

:root {
    --content-width: 960px;

    @media screen and (max-width: 1200px) {
        --content-width: 720px;
    }

    @media screen and (max-width: 800px) {
        --content-width: 600px;
    }
}

body,
html {
    background: linear-gradient(135deg, #202020, #04354a 75%, #022a3b);
    background-color: #07394e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: "Outfit", "Noto Sans TC", "Noto Sans JP", "Noto Sans CN";
    color: #fff;

    &::selection {
        background-color: #80808050;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

a {
    color: #fff;
    text-decoration: underline dotted;
}

hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #ffffff80;
}

.main-content {
    width: 80%;
    margin: 50px auto;

    max-width: var(--content-width);
}

.body-content {
    box-shadow: 0 2px 5px #000000;
    background-color: #00000040;
    padding: 10px;
}

#main {
    margin: 10% auto;
}

.main-title {
    font-size: 60px;
    font-weight: 800;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    opacity: 75%;
}

header {
    width: 100%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.image-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    margin: 0 auto;

    .image-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 1;
        padding: 10px;
        gap: 5px;
        border: #999 solid 1px;
        border-radius: 8px;
        background-color: #ffffff30;
        align-items: center;
        color: #ccc;
        /* width: 90%; */
        max-height: 650px;
        max-width: 650px;
        margin: 0 auto;

        .content {
            text-align: center;
            align-items: flex-end;
        }

        img {
            transition: all 0.5s ease;
            border-radius: 8px;
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
            min-height: 200px;
            min-width: 200px;
            display: block;
            margin: auto;
            object-fit: contain;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px #fff;
            }
        }
    }
}

.hr {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        bottom: -20px;
        margin: 10px 0;
        height: 1px;
        width: 100%;
        background-color: #ffffff80;
    }
}

/* 科普首頁 */
.main-content#science {
    .section {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        min-height: 250px;
        overflow: hidden;
        padding: 15px 0;

        background-color: #60aaff20;

        &:nth-child(even) {
            background-color: #ffffff20;
        }

        .section-title {
            margin: 0 auto 35px auto;
            font-size: 32px;
            font-weight: 500;

            &::before {
                position: absolute;
                bottom: -12px;
                content: '';
                width: 100px;
                height: 3px;
                background-color: #fff;
            }
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .section-content {
                width: 80%;
                max-width: var(--content-width);
                margin: 0;
                display: flex;
                justify-content: safe center;
                align-items: center;
                overflow-x: hidden;
                scroll-behavior: smooth;
                mask-image: linear-gradient(to right, transparent 0, black 20px, black calc(100% - 20px), transparent 100%);

                .section-child {
                    transition: all 0.3s ease;
                    flex: 0 0 auto;
                    box-sizing: border-box;
                    width: 200px;
                    height: 300px;
                    border: 3px solid #fff;
                    border-radius: 20px;
                    margin: 20px;
                    display: block;
                    text-decoration: none;
                    cursor: pointer;
                    background: #00000030;

                    &:hover {
                        border-color: #ffc900;
                        box-shadow: 0 0 15px #ffc900;
                        background: color-mix(in srgb, #00000030 90%, #ffc90030);

                        .item-image img {
                            transform: scale(1.1);
                        }
                    }

                    .item-image {
                        display: block;
                        transition: all 0.3s ease;
                        margin: 10px auto;
                        border-radius: 20px;
                        width: 180px;
                        height: 180px;
                        overflow: hidden;

                        img {
                            transition: all 0.3s ease;
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .item-title {
                        transition: all 0.3s ease;
                        display: block;
                        font-size: 18px;
                        font-weight: 600;
                        margin: 3px 12px;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background-color: #fff;
                            top: -5px;
                            left: 0;
                        }
                    }

                    .item-content {
                        transition: all 0.3s ease;
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 3px 12px;
                    }
                }
            }

            .scroll-btn {
                position: relative;
                /* transform: translateY(-50%); */
                z-index: 2;
                background-color: #ffffffaa;
                padding: 0;
                color: #000;
                border: none;
                width: 30px;
                height: 65px;
                border-radius: 10px;
                cursor: pointer;
                font-size: 24px;
                backdrop-filter: blur(4px);

                img {
                    margin: 16.5px 0;
                    width: 30px;
                }

                &.left {
                    left: 10px;
                }

                &.right {
                    right: 10px;
                }

                &:hover {
                    background-color: #ffffff80;
                }

                &.disabled {
                    background-color: #ffffff50;
                    cursor: not-allowed;

                    &:hover {
                        background-color: #ffffff50;
                    }
                }
            }
        }
    }
}