@import url("font.css");
@import url("nav.css");
@import url("timeline.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --content-width: 1200px;

    @media screen and (max-width: 1600px) {
        --content-width: 960px;
    }

    @media screen and (max-width: 1200px) {
        --content-width: 720px;
    }

    @media screen and (max-width: 900px) {
        --content-width: 600px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body,
html {
    background: linear-gradient(135deg, #222 -30%, #022536 75%, #222 130%);
    background-color: #022536;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: "Outfit", "Noto Sans TC", "Noto Sans JP", "Noto Sans CN";
    color: #fff;

    &::selection {
        background-color: #80808050;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

a {
    color: #fff;
    text-decoration: none;
}

hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #aaa;
}

blockquote {
    color: #ddd;
    position: relative;
    padding: 0 30px;

    &::before,
    &::after {
        position: absolute;
        font-size: 36px;
        font-weight: 600;
        line-height: 1;
    }

    &::before {
        top: 0;
        left: 0;
        content: open-quote;
    }

    &::after {
        bottom: 0;
        right: 0;
        content: close-quote;
    }
}

.main-content {
    width: calc(100% - 50px);
    min-width: 350px;
    max-width: var(--content-width);
    margin: auto;
}

.body-content {
    box-shadow: 0 2px 5px #000000;
    background-color: #00000040;
    padding: 10px 20px;
    margin-bottom: 50px;
    overflow: hidden;
    word-break: break-word;

    a {
        color: #0ef;
        text-decoration: none;

        &:hover {
            color: #fd0;
            text-decoration: underline dotted;
        }
    }

    h2 {
        border-left: 5px #fff solid;
        border-bottom: 1px #ffffff80 solid;
        padding: 10px 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
            word-break: break-word;
        }

        th {
            font-size: 18px;
            background-color: #ffffff20;
        }

        td {
            &:hover {
                color: #000;
                background-color: #ffc900;
            }
        }
    }
}

.home {
    width: 100%;

    section {
        padding: 150px 50px;
        background-color: #00000050;

        .container {
            margin: 0 auto;
            max-width: var(--content-width);

            .info & {
                display: flex;
                gap: 100px;
                align-items: center;

                .text {
                    flex: 1;
                    text-align: right;

                    .title {
                        font-size: 36px;
                        font-weight: 600;
                    }

                    .content {
                        font-size: 18px;
                        font-weight: 500;
                        color: #ddd;
                    }

                    .link {
                        display: inline-block;
                        margin-top: 20px;
                        background-color: #0cf;
                        color: #1c333e;
                        font-size: 20px;
                        padding: 8px 15px;
                        border-radius: 10px;
                        font-weight: 500;

                        .material-symbols-outlined {
                            transform: rotate(-45deg) translate(3px, -3px);
                            vertical-align: middle;
                            margin-left: 5px;
                        }

                        &:hover {
                            background-color: color-mix(in srgb, #0cf 70%, #fff);
                        }
                    }
                }

                .img {
                    width: 50%;

                    img {
                        border-radius: 10px;
                        object-fit: cover;
                        width: 100%;
                        aspect-ratio: 4/3;
                        box-shadow: 0 0 100px 50px #0cf2;
                    }
                }
            }

            &.icons {
                flex-direction: row;
                justify-content: space-around;
                gap: 10px;

                .child {
                    display: block;
                    cursor: pointer;

                    .icon {
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        background-color: #1c333e;
                        text-align: center;
                        margin-bottom: 20px;
                        border: transparent 3px solid;

                        .material-symbols-outlined {
                            font-size: 80px;
                            line-height: 160px;
                        }
                    }

                    &:hover {
                        .icon {
                            background-color: color-mix(in srgb, #1c333e 90%, #0cf);
                            border-color: #0cf;
                            box-shadow: 0 0 30px #0cf6;
                        }

                        .name {
                            color: #0cf;
                        }
                    }

                    .name {
                        font-size: 24px;
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }

        }

        &.main {
            /* background: linear-gradient(135deg, #1c1c1c, #083759); */
            background-color: #000a;

            h1 {
                /* text-shadow: 0 0 60px #0ef8; */
                position: relative;
                z-index: 1;
                font-size: 60px;
                font-weight: 800;
                margin: 10px 0;

                @media screen and (max-width: 550px) {
                    font-size: 42px;
                }

                &::after {
                    position: absolute;
                    z-index: -1;
                    content: '';
                    width: 120%;
                    height: 50px;
                    background: linear-gradient(to right, #0ef 15%, transparent);
                    filter: blur(120px);
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10%;

                }

            }

            h4 {
                color: #2cf;
                font-weight: 600;
                font-size: 28px;

                @media screen and (max-width: 550px) {
                    font-size: 24px;
                }
            }
        }

        &.info:nth-of-type(odd) {
            background-color: #00000080;

            .container {
                flex-direction: row-reverse;

                .text {
                    text-align: left;
                }
            }
        }

        @media screen and (max-width: 800px) {
            &.info {
                .container {
                    flex-direction: column;
                    gap: 50px;

                    &:nth-of-type(odd) {
                        flex-direction: column;

                        .text {
                            text-align: center;
                        }
                    }

                    .text {
                        text-align: center;
                    }

                    .img {
                        width: 100%;
                    }
                }

                &.icons {
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }
    }
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    opacity: 75%;
}

header {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

h1 {
    font-size: 36px;

    .page-title & {
        font-size: 42px;
        margin-bottom: 20px;
    }
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    color: #ccc;
    margin: 10px 0;
    font-weight: 400;
}

.page-title {
    text-align: center;
    margin: 60px 0;
}

p {
    font-size: 18px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc((100% / 3) - 20px);
        background: #1c333e;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 10px;
        flex: 0 0 auto;
        border: transparent solid 2px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: column;

        .card-title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: #ccc solid 1px;
        }

        .card-content {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .card-badge {
            font-weight: 600;
            font-size: 16px;
            color: #00aaff;
            margin-top: auto;
            text-align: right;
            align-self: flex-end;
            padding: 5px 10px;
            border-radius: 5px;
            line-height: 1;
            border: #00aaff 1px solid;
        }

        &:hover {
            border: #00aaff solid 2px;
            background: color-mix(in srgb, #1c333e, #008bd0 10%);
            box-shadow: 0 0 50px #008bd050;
            transform: translateY(-5px);
        }


        @media screen and (max-width: 1200px) {
            width: calc((100% / 2) - 20px);
        }

        @media screen and (max-width: 650px) {
            width: calc(100% - 20px);
        }
    }
}

.image-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    margin: 0 auto;

    .image-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 1;
        padding: 10px;
        gap: 5px;
        border: #999 solid 1px;
        border-radius: 8px;
        background-color: #ffffff30;
        align-items: center;
        color: #ccc;
        /* width: 90%; */
        max-height: 650px;
        max-width: 650px;
        margin: 0 auto;

        .content {
            text-align: center;
            align-items: flex-end;
        }

        img {
            transition: all 0.5s ease;
            border-radius: 8px;
            max-height: 100%;
            max-width: 100%;
            min-width: 300px;
            height: auto;
            width: auto;
            display: block;
            margin: auto;
            overflow: hidden;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px #fff;
            }
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;

    .info-card {
        width: calc((100% / 3) - 20px);
        flex: 0 0 auto;

        @media screen and (max-width: 1200px) {
            width: calc((100% / 2) - 20px);
        }

        @media screen and (max-width: 650px) {
            width: calc(100% - 20px);
        }
    }
}

.info-card {
    display: block;
    background-color: #1c333e;
    border-radius: 10px;
    border-left: #0cf solid 5px;
    margin: 10px;
    padding: 5px 15px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        transform: translate(-5px);
        box-shadow: 5px 5px 10px #00000030;
    }

    .card-title {
        font-size: 20px;
        font-weight: 500;
        padding: 10px 0;
        border-bottom: #fff8 1px solid;
    }

    .card-content {
        font-size: 16px;
        color: #ddd;
        padding: 10px 0;
    }
}

.hr {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        bottom: -20px;
        margin: 10px 0;
        height: 1px;
        width: 100%;
        background-color: #ffffff80;
    }
}

/* 科普首頁 */
.main-content#science {
    .section {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        min-height: 250px;
        overflow: hidden;
        padding: 15px 0;

        background-color: #26a2;

        &:nth-child(even) {
            background-color: #3332;
        }

        .section-title {
            margin: 0 auto 35px auto;
            font-size: 32px;
            font-weight: 500;

            &::before {
                position: absolute;
                bottom: -12px;
                content: '';
                width: 100px;
                height: 3px;
                background-color: #fff;
            }
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .section-content {
                width: 80%;
                max-width: var(--content-width);
                margin: 0;
                display: flex;
                justify-content: safe center;
                align-items: center;
                overflow-x: hidden;
                scroll-behavior: smooth;
                mask-image: linear-gradient(to right, transparent 0, black 20px, black calc(100% - 20px), transparent 100%);

                .section-child {
                    flex: 0 0 auto;
                    box-sizing: border-box;
                    width: 200px;
                    height: 300px;
                    border: 3px solid transparent;
                    border-radius: 20px;
                    margin: 20px;
                    display: block;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: #5673;

                    &:hover {
                        border-color: #0cf;
                        box-shadow: 0 0 15px #0cfa;
                        background: color-mix(in srgb, #5673 90%, #0cf);
                        transform: translateY(-5px);

                        .item-image img {
                            transform: scale(1.1);
                        }
                    }

                    .item-image {
                        display: block;
                        margin: 10px auto;
                        border-radius: 20px;
                        width: 180px;
                        height: 180px;
                        overflow: hidden;

                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .item-title {
                        display: block;
                        font-size: 18px;
                        font-weight: 600;
                        margin: 3px 12px;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background-color: #fff;
                            top: -5px;
                            left: 0;
                        }
                    }

                    .item-content {
                        transition: all 0.3s ease;
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 3px 12px;
                    }
                }
            }

            .scroll-btn {
                position: relative;
                /* transform: translateY(-50%); */
                z-index: 2;
                background-color: #2cf;
                padding: 0;
                color: #000;
                border: none;
                width: 30px;
                height: 65px;
                border-radius: 10px;
                cursor: pointer;
                font-size: 24px;
                backdrop-filter: blur(10px);

                img {
                    margin: 17px 0;
                    width: 30px;
                }

                &.left {
                    left: 10px;
                }

                &.right {
                    right: 10px;
                }

                &:hover {
                    background-color: color-mix(in srgb, #0cf 80%, #0000);
                }

                &.disabled {
                    background-color: color-mix(in srgb, #0cf 10%, #0000);
                    cursor: not-allowed;

                    &:hover {
                        background-color: color-mix(in srgb, #0cf 10%, #0000);
                    }
                }
            }
        }
    }
}