.map-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.map {
    height: 100%;
    width: calc(100% - 400px);
    background-color: transparent;
    z-index: 1;
    transition: all 0.5s;

    * {
        transition: unset;
    }
}

.map-content {
    border-left: #fff solid 5px;
    margin-top: 50px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .map-content {
        margin-top: 0;
    }

    .map-container {
        display: block;
    }

    .map {
        width: 100%;
    }
}

.leaflet-control-custom {
    margin-top: 60px !important;

    button {
        background-color: #202020aa;
        backdrop-filter: blur(10px);
        color: #fff;
        border: none;
        width: 34px;
        height: 34px;
        font-size: 18px;
        cursor: pointer;
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #555;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #353535aa;
        }
    }
}