.map {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
    transition: all 0.5s;

    * {
        transition: unset;
    }
}

.leaflet-control-custom {
    margin-top: 60px !important;

    button {
        background-color: #202020aa;
        backdrop-filter: blur(10px);
        color: #fff;
        border: none;
        width: 34px;
        height: 34px;
        font-size: 18px;
        cursor: pointer;
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #555;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #353535aa;
        }
    }
}