body {
    height: 100%;
}

.map-container {
    display: flex;
    position: absolute;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    left: 0;
}

.map {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #222;
    z-index: 1;
    transition: all 0.5s;

    * {
        transition: unset;
    }
}

.map-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    border-left: #fff solid 5px;
    padding: 20px;
    padding-top: 60px;
    overflow: auto;

    .checkboxs {
        padding: 0 20px;
        margin: 20px 0;
        width: 100%;
        background-color: #303030;
        border-radius: 5px;
        border: 1px solid #888;
        font-size: 16px;
        color: #ccc;

        .section {
            padding: 10px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #555;
            }
        }

        label {
            margin-right: 10px;
            font-size: 20px;
            color: #fff;
            display: inline-block;
        }

        input {
            accent-color: #555;
        }
    }
}

.label {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #202020aa;
    backdrop-filter: blur(10px);
    margin: 20px;
    padding: 10px;
    border: 1px solid #fff;

    &:not(.display) {
        opacity: 0;
    }

    .label-title {
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #888;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .label-subtitle {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .label-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .label-icon {
            width: 25px;
            height: 6px;
            border-radius: 3px;
            background-color: #fff;

            &.purple {
                background-color: #c900ff;
            }

            &.red {
                background-color: #ff0000;
            }

            &.orange {
                background-color: #ff8000;
            }

            &.yellow {
                background-color: #ffc900;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .map-container {
        width: 100%;
        height: calc(100% - 200px);
    }

    .map-content {
        border-left: unset;
        border-top: #fff solid 5px;
        left: 0;
        top: calc(100% - 200px);
        width: 100%;
        height: unset;
        padding: 20px;
        overflow: auto;
    }

}

.leaflet-control-custom {
    margin-top: 60px !important;

    button {
        background-color: #202020aa;
        backdrop-filter: blur(10px);
        color: #fff;
        border: none;
        width: 34px;
        height: 34px;
        font-size: 18px;
        cursor: pointer;
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #555;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #353535aa;
        }
    }
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background-color: #202020dd;
    color: #fff;
    backdrop-filter: blur(5px);
    font-family: "Outfit", "Noto Sans TC", "Noto Sans JP", "Noto Sans CN";

    .popup-title {
        font-size: 18px;
        font-weight: 700;
        color: #8cf;
        margin-bottom: 3px;
    }

    .popup-subtitle {
        font-size: 14px;
        font-weight: 500;
        color: #8cf;
    }

    .popup-condition {
        font-size: 14px;
        font-weight: 500;
        color: #fff;

        .condition-title {
            color: #8cf;
        }
    }
}