.timeline {
    position: relative;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 500px;

    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background: linear-gradient(0deg, transparent 0px, #ffffff80 50px, #ffffff80 calc(100% - 50px), transparent 100%);
        top: -30px;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
}

.timeline-title {
    font-size: 24px;
    font-weight: 700;
}

.timeline-text {
    font-size: 18px;
    font-weight: 500;
}

.timeline-item {
    position: relative;
    margin: 15px 0;
    width: 200px;

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.5s ease;

        &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            right: -50px;
            background-color: #ffffff;
            top: 5px;
            border-radius: 50%;
            z-index: 1;
            transition: all 0.5s ease;
        }
    }

    &:hover {
        color: #ffdd00;

        a {
            background-color: #ffffff20;

            &::after {
                background-color: #ffdd00;
            }
        }
    }
}

.left-item {
    right: 144px;
    text-align: right;
}

.right-item {
    left: 144px;
    text-align: left;

    a::after {
        left: -50px;
    }
}

@media screen and (max-width: 650px) {

    .timeline::after {
        left: 25%;
    }

    .timeline-item::after {
        left: -50px;
    }

    .left-item,
    .right-item {
        left: calc(144px - 25%);
        text-align: left;
    }

    .right-item::after {
        left: -50px;
    }

    .timeline-item {
        margin: 30px 0;
    }
}